
/* 页面初始化 */
body{
	font-family: 'Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑', '黑体',sans-serif;
	font-size: 14px;
}
p{
	padding: 0px;
	margin: 0px;
}


/* 公共 */
.UI{
	display: none;
}
.clear{
	clear: both;
}
.hide{
	display: none;
}


/* 用户界面 */
.userUI .icon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	background: #eee;
	margin-right: 20px;
}
.userUI .icon img{
	width: 100px;
	float: left;
}
.userUI .info{
	float: left;
	height: 100px;
}
.userUI .info p{
	padding: 0px;
	margin: 0px;
}
.userUI .info .account{
	margin-top: 18px;
}
.userUI .info .name{
	font-size: 24px;
}
.userUI .info .logout{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
.userUI .info .logout:hover{
	text-decoration: underline;
}
.userUI .info .sum{
	font-size: 14px;
}

.entryUI{

}


/* 功能列表 */
.allUI{
	margin-top: 100px;
	display: inline-block;
	width: 100%;
	display: none;
}


/* 功能列表 - 单个 */
.itemUI{
	display: inline-block;
	width: 300px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	margin: 0 30px 30px 0;
	position: relative;
}
.itemUI .area{
	padding: 20px;
}
.itemUI .name{
	font-size: 24px;
}
.itemUI .explain{
	font-size: 13px;
	display: inline-block;
	line-height: 22px;
	height: 66px;
	overflow: hidden;
	margin-top: 5px;
	transition: 0.3s;
}
.itemUI .close{
	float: right;
	display: none;
	margin-top: 5px;
}
.itemUI .line{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 10%;
	background-color: green;
}
.itemUI:hover{
	border-color: #aaa;
	background-color: #f5f5f5;
}
.itemAct,.itemAct:hover{
	cursor: default;
	border-bottom-color: #aaa;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	background-color: transparent;
}
.itemAct .explain{
	height: 22px;
}
.itemAct .close{
	/*display: inline-block;*/
}





.contentUI{
	display: none;
}


/* --- */
.guessblindlyUI .temp{
	display: inline-block;
	width: 50px;
	height: 50px;
	/*line-height: 50px;*/
	border-radius: 50%;
	color: white;
	text-decoration: none;
	float: left;
	margin: 0 10px 10px 0;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.guessblindlyUI .temp em{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: transparent;
	opacity: 0.1;
}
.guessblindlyUI .temp span{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	line-height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 10px;
	background-color: black;
}
.guessblindlyUI .temp-act span{
	background-color: red;
}
.guessblindlyUI .warn{
	display: none;
	color: #666;
	margin-top: 15px;
	float: left;
	background-color: #eee;
	border-radius: 3px;
	padding: 3px 10px;
}




.ux002UI .area{
	width: 100px;
	height: 10px;
}
.ux002UI .area .line{
	display: inline-block;
	width: 10%;
	height: 100%;
	background-color: #ccc;
}
.ux002UI .panel{
	margin-top: 20px;
}





