
.ux002UI .area{
	width: 100%;
	height: 10px;
}
.ux002UI .area .line{
	display: inline-block;
	width: 0%;
	height: 100%;
	background-color: #ccc;
	float: left;
}
.ux002UI .panel{
	margin-top: 20px;
}

.ux002UI .number{
	font-size: 30px;
}
